* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid {
  height: 522px;
  width: 520px;
  grid-template-columns: 200px 200px 200px;
  border: solid 2px silver;
  /* display: grid; */
  /* display: flex; */
  justify-content: space-between;
  border-radius: 20px;
}
.grid-textt {
  background-color: #ffffff9d;
  width: 498px;
  height: 52px;
  border-radius: 20px;
  border: solid 1px;
  display: flex;
}
.grid-text {
  background-color: #1f1f1f;
  font-size: 14px;
  color: #f7f7f7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 15px;
  padding: 8px 32px;
  margin-bottom: 15px;
  width: 482px;
  height: 36px;
  margin-top: 10px;
}

.grid-left {
  width: 229px;
  height: 128px;
}
.grid2 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
  text-align: center;
}
.grid1 {
  margin-bottom: 30px;
  width: 229px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  background-color: white;
  height: 64px;
  width: 62px;
  border-radius: 50%;
  border: solid 3px pink;
  display: flex;
  align-items: center;
  justify-content: center;
}
